
body {
  padding:0;margin:0;
  width:100%;height:100%;
  background:rgb(255,255,255) url('http://static.tumblr.com/epkyugq/ekUmevtha/greybg.jpg');
  overflow:hidden;
}
.headerbox {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  width:100%;height:300px;
  padding:0;margin-top:0px;
  display:block;
}
.headerbox .box-image label {
  cursor:pointer;
  position:relative;
  top:.9em;left:1em;
  float:left;
  height:.4em;
  padding:0;margin:0 .1em;
  -moz-transition:color .1s ease-in-out;
  -webkit-transition:color .1s ease-in-out;
  -o-transition:color .1s ease-in-out;
  transition:color .1s ease-in-out;
  border:0;
  display:inline-block;
  overflow:hidden;
  z-index:2;
  font-size:2.3em;
  color:rgba(0,0,0,.6);
  line-height:.3em;
}
.headerbox .box-image label:hover {
  color:rgba(255,255,255,.8);
}
.headerbox .box-image [type=radio] {
  display:none;
}
.headerbox .box-image .box-photo {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  width:100%;height:100%;
  padding:0;margin:0;
  background-position:center center;
  background-size:100% auto;
  background-repeat:repeat;
  display:block;
  overflow:hidden;
}
.box-photo img {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  width:100%;height:auto;
  padding:0;margin:auto;
  display:block;
}
.info {
  position:absolute;
  top:4.5em;left:1em;
  display:inline-block;
  color:rgb(255,255,255);
}
.title {
  position:relative;
  cursor:default;
  padding:.3em .4em .3em 1em;margin-left:-.5em;
  -moz-transition:.3s ease-in-out;
  -webkit-transition:.3s ease-in-out;
  -o-transition:.3s ease-in-out;
  transition:.3s ease-in-out;
  border-bottom:.1em solid rgba(0,0,0,.4);
  background:rgba(0,0,0,0.9);
  display:block;
  font-family:Helvetica, Arial, Sans-serif;
  font-size:2em;
  color:rgb(255,255,255);
  font-weight:bold;
  line-height:1em;
  text-transform:uppercase;
  text-decoration:none;

  /*border: thick solid #099cff;*/
  border-left: none;
  color: #EEEEEE;
}
.title:hover {
  padding:.3em .4em .3em 2em;
  background:rgba(0,0,0,.5);
}
.caption {
  position:relative;
  cursor:default;
  float:left;
  padding:.8em;margin:0 0 0 1em;
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
  display:block;
  font-family:Helvetica, Arial, Sans-serif;
  font-size:.8em;
  line-height:1em;
  letter-spacing:.1em;
  text-transform:uppercase;
  text-decoration:none;

  background-color: #077bdd;
  color: #000000;
}
[type=radio]:checked ~ label ~ .box-photo {
  top:0!important;left:0!important;
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
  display:block;
  opacity:1;
  visibility:visible;
  z-index:1;
}
[type=radio] ~ label ~ .box-photo {
  /*top:100em!important;   SLIDE UP */
  /*top:-100em!important;  SLIDE DOWN */
  /*left:100em!important;  SLIDE RIGHT */
  /*left:-100em!important; SLIDE LEFT */
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
  display:none;
  opacity:0;
  visibility:hidden;
  z-index:0;
}
